.adminInput {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #fff;
    font-size: var(--size14);
    font-family: var(--family);
    border: 1px solid #000;
    color: black;
    border-radius: 5px;
}